In [35]:
# swapnil.darji@somaiya.edu
# riyasvidhale@gmail.com

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
data=pd.read_csv('twitter_data.csv')

In [4]:
data.head()

,id,user_description,user_location,text,user_name,verified,user_followers,user_friends
0,1,"""The past cannot be changed. The future is yet...",NaN,"RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,19,60
1,2,theOnlyjass,NaN,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,1446,1145
2,3,@ESPN family member. @ThinkTaylorORG believer....,Everywhere,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,328247,769
3,4,NaN,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,11,21
4,5,post EU Council Presidency #EU2018AT issues / ...,Vienna,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,756,1111

In [5]:
data.shape

(289, 8)

# Create a new feature 
creating a new feature 'follower_following_ratio' by dividing 'user_followers' by 'user_friends'

In [23]:
data['follower_following_ratio']=data['user_followers']/data['user_friends']

In [64]:
data.head()

,id,user_description,user_location,text,user_name,verified,user_followers,user_friends,follower_following_ratio
0,1,"""The past cannot be changed. The future is yet...",NaN,"RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,19,60,0.316667
1,2,theOnlyjass,NaN,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,1446,1145,1.262882
2,3,@ESPN family member. @ThinkTaylorORG believer....,Everywhere,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,328247,769,426.849155
3,4,NaN,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,11,21,0.523810
4,5,post EU Council Presidency #EU2018AT issues / ...,Vienna,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,756,1111,0.680468

storing the data to new file

In [10]:
data.to_csv('new_data1.csv')

we have converted the required feature in binary form manually and added the dependent feature 'follow_back' 
and independent feature 'user_interest'

In [7]:
data_new=pd.read_csv("new_dataf")

In [8]:
data_new.head()

,Unnamed: 0,id,user_description,text,user_name,verified,user_location,user_interest,user_followers,user_friends,follower_following_ratio,follow_back
0,0,1,"""The past cannot be changed. The future is yet...","RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,0,0,19,60,0.3166666667,0.0
1,1,2,theOnlyjass,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,0,1,1446,1145,1.262882096,1.0
2,2,3,@ESPN family member. @ThinkTaylorORG believer....,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,0,1,328247,769,426.8491547,0.0
3,3,4,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,0,0,11,21,0.5238095238,0.0
4,4,5,post EU Council Presidency #EU2018AT issues / ...,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,0,0,756,1111,0.6804680468,0.0

## Remove Irrevelant data

In [9]:
data_new.drop(['id','user_description','text','user_name','user_followers','user_friends'],axis=1, inplace=True)

In [10]:
data_new.head()

,Unnamed: 0,verified,user_location,user_interest,follower_following_ratio,follow_back
0,0,0,0,0,0.3166666667,0.0
1,1,0,0,1,1.262882096,1.0
2,2,1,0,1,426.8491547,0.0
3,3,0,0,0,0.5238095238,0.0
4,4,0,0,0,0.6804680468,0.0

In [11]:
data_new.drop(['Unnamed: 0'],axis=1, inplace=True)

In [12]:
data_new.head()

,verified,user_location,user_interest,follower_following_ratio,follow_back
0,0,0,0,0.3166666667,0.0
1,0,0,1,1.262882096,1.0
2,1,0,1,426.8491547,0.0
3,0,0,0,0.5238095238,0.0
4,0,0,0,0.6804680468,0.0

In [13]:
data_new.shape

(289, 5)

## check for null values is the data

In [14]:

data_new.isnull().sum()

verified                    0
user_location               0
user_interest               0
follower_following_ratio    0
follow_back                 1
dtype: int64

remove the row containing null values

In [15]:
data_new = data_new[data_new['follow_back'].notnull()]

In [76]:
data_new.to_csv('testdata.csv')

In [16]:
data_new.isnull().sum()

verified                    0
user_location               0
user_interest               0
follower_following_ratio    0
follow_back                 0
dtype: int64

In [17]:
data_new.shape

(288, 5)

In [19]:
data_new.head()

,verified,user_location,user_interest,follower_following_ratio,follow_back
0,0,0,0,0.3166666667,0.0
1,0,0,1,1.262882096,1.0
2,1,0,1,426.8491547,0.0
3,0,0,0,0.5238095238,0.0
4,0,0,0,0.6804680468,0.0

In [21]:
data_new.drop(['follower_following_ratio'],axis=1,inplace=True)

In [25]:
data_new['follower_following_ratio']=data['follower_following_ratio']

In [26]:
data_new.dtypes

verified                      int64
user_location                 int64
user_interest                 int64
follow_back                 float64
follower_following_ratio    float64
dtype: object

In [35]:
data_new['follow_back']=data_new.follow_back.astype(np.int64)

In [65]:
data_new.head()

,verified,user_location,user_interest,follow_back,follower_following_ratio
0,0,0,0,0,0.316667
1,0,0,1,1,1.262882
2,1,0,1,0,426.849155
3,0,0,0,0,0.523810
4,0,0,0,0,0.680468

In [67]:
data_new.shape

(288, 5)

# Train Data

In [68]:
train=data_new[0:202]
test=data_new[203:288]

In [69]:
x_train = train.drop('follow_back',axis=1)

In [70]:
y_train= train['follow_back']

x_train and y_train is the data required to train the model

In [71]:
x_test = test.drop('follow_back',axis=1)

In [78]:
true_p = test['follow_back']

# Logistic Regression

In [72]:
from sklearn.linear_model import LogisticRegression

In [73]:
logreg = LogisticRegression()

In [75]:
logreg.fit(x_train,y_train)

C:\Users\swapn\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [76]:
pred=logreg.predict(x_test)

In [79]:
logreg.score(x_test,true_p)

0.8

In [80]:
logreg.score(x_train,y_train)

0.7574257425742574

In [81]:
submission=pd.DataFrame()

In [82]:
submission['follow_back'] = pred

In [84]:
submission.to_csv('follow_back.csv', header=True, index=False)

## Decision Tree

In [85]:
x = data_new.drop("follow_back",axis=1)
y = data_new["follow_back"]

In [86]:
from sklearn.model_selection import train_test_split

In [87]:
train_x, test_x , train_y , test_y = train_test_split(x,y,random_state=1,stratify=y)

In [89]:
train_y.value_counts()/len(train_y)

1    0.541667
0    0.458333
Name: follow_back, dtype: float64

In [90]:
test_y.value_counts()/len(test_y)

1    0.541667
0    0.458333
Name: follow_back, dtype: float64

In [91]:
from sklearn.tree import DecisionTreeClassifier

In [92]:
clf = DecisionTreeClassifier()

In [93]:
clf.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [95]:
clf.score(train_x,train_y)

1.0

In [96]:
clf.score(test_x,test_y)

0.8611111111111112

In [97]:
clf.predict(train_x)

array([1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1], dtype=int64)

In [100]:
predict_dec=clf.predict(test_x)

In [99]:
submission1=pd.DataFrame()

In [101]:
submission1['follow_back'] = predict_dec

In [102]:
submission1.to_csv('submission1.csv', header=True, index=False)