In [35]:
# swapnil.darji@somaiya.edu
# riyasvidhale@gmail.com

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data=pd.read_csv('twitter_data.csv')

In [5]:
data.head()

,id,user_description,user_location,text,user_name,verified,user_followers,user_friends
0,1,"""The past cannot be changed. The future is yet...",NaN,"RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,19,60
1,2,theOnlyjass,NaN,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,1446,1145
2,3,@ESPN family member. @ThinkTaylorORG believer....,Everywhere,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,328247,769
3,4,NaN,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,11,21
4,5,post EU Council Presidency #EU2018AT issues / ...,Vienna,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,756,1111

In [7]:
data.shape

(289, 8)

# Create a new feature 
creating a new feature 'follower_following_ratio' by dividing 'user_followers' by 'user_friends'

In [8]:
data['follower_following_ratio']=data['user_followers']/data['user_friends']

In [9]:
data.head()

,id,user_description,user_location,text,user_name,verified,user_followers,user_friends,follower_following_ratio
0,1,"""The past cannot be changed. The future is yet...",NaN,"RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,19,60,0.316667
1,2,theOnlyjass,NaN,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,1446,1145,1.262882
2,3,@ESPN family member. @ThinkTaylorORG believer....,Everywhere,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,328247,769,426.849155
3,4,NaN,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,11,21,0.523810
4,5,post EU Council Presidency #EU2018AT issues / ...,Vienna,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,756,1111,0.680468

storing the data to new file

In [10]:
data.to_csv('new_data1.csv')

we have converted the required feature in binary form manually and added the dependent feature 'follow_back' 
and independent feature 'user_interest'

In [16]:
data_new=pd.read_csv("new_dataf")

In [17]:
data_new.head()

,Unnamed: 0,id,user_description,text,user_name,verified,user_location,user_interest,user_followers,user_friends,follower_following_ratio,follow_back
0,0,1,"""The past cannot be changed. The future is yet...","RT @kylegriffin1: Jimmy Carter: ""Everyday we s...",4susulli,0,0,0,19,60,0.3166666667,0.0
1,1,2,theOnlyjass,RT @ily_toyaa: why her name gotta be cricket??...,Jass_jazz_jasz,0,0,1,1446,1145,1.262882096,1.0
2,2,3,@ESPN family member. @ThinkTaylorORG believer....,Well done @USWNT ðð¼ðð¼ðð¼ðð...,TaylorTwellman,1,0,1,328247,769,426.8491547,0.0
3,3,4,NaN,夕食会の料理テーマは「里山」 安倍首相が乾杯の音頭 https://t.co/GCwoPHO...,syuketsunetsu,0,0,0,11,21,0.5238095238,0.0
4,4,5,post EU Council Presidency #EU2018AT issues / ...,RT @EU_Commission: “I measure my words careful...,AndreasSumper,0,0,0,756,1111,0.6804680468,0.0

## Remove Irrevelant data

In [19]:
data_new.drop(['id','user_description','text','user_name','user_followers','user_friends'],axis=1, inplace=True)

In [20]:
data_new.head()

,Unnamed: 0,verified,user_location,user_interest,follower_following_ratio,follow_back
0,0,0,0,0,0.3166666667,0.0
1,1,0,0,1,1.262882096,1.0
2,2,1,0,1,426.8491547,0.0
3,3,0,0,0,0.5238095238,0.0
4,4,0,0,0,0.6804680468,0.0

In [21]:
data_new.drop(['Unnamed: 0'],axis=1, inplace=True)

In [23]:
data_new.head()

,verified,user_location,user_interest,follower_following_ratio,follow_back
0,0,0,0,0.3166666667,0.0
1,0,0,1,1.262882096,1.0
2,1,0,1,426.8491547,0.0
3,0,0,0,0.5238095238,0.0
4,0,0,0,0.6804680468,0.0

In [24]:
data_new.shape

(289, 5)

## check for null values is the data

In [27]:
data_new.isnull().sum()

verified                    0
user_location               0
user_interest               0
follower_following_ratio    0
follow_back                 1
dtype: int64

remove the row containing null values

In [29]:
data_new = data_new[data_new['follow_back'].notnull()]

In [52]:
data_new.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [30]:
data_new.isnull().sum()

verified                    0
user_location               0
user_interest               0
follower_following_ratio    0
follow_back                 0
dtype: int64

In [32]:
data_new.shape

(288, 5)

# Train Data

In [40]:
X = data_new.drop("follow_back",axis=1)
y = data_new["follow_back"]

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=1)

In [44]:
from sklearn.linear_model import LogisticRegression

In [46]:
logmodel = LogisticRegression()

In [47]:
logmodel.fit(X_train, y_train)

C:\Users\swapn\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: '3,929.76\u202c'